<% include partials/header %>
<% include partials/nav %>
<h1>This is the template</h1>

<p><%=foundCampgroundVal.name%></p>
<img src="<%=foundCampgroundVal.image%>" alt="">
<p><%=foundCampgroundVal.description%></p>

<% include partials/footer %>