<% include partials/header %>
<div class="container">
    <h1 class="text-center text-success">Results</h1>
    <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
    </ul>
</div>
<% include partials/footer %>