html, body{
  margin:0;
  padding:0;
}
body{
  background-color:#3EC5DF;
  background: linear-gradient(to right, #3EC5DF , #E7ECC1);
  font-family: 'Open Sans', sans-serif;
}

.todo_list{
  border: 1px solid #F6F5F0;
  width: 360px;
  margin: 100px auto;
}

.todo_list h1{
  margin:0 auto;
  text-transform: uppercase;
  color: white;
  background: #377EB8;
  font-size: 24px;
  padding: 10px 20px;
}

.fa-plus{
  float: right;
  display: inline-block;
}

.todo_list ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo_list ul > li{
  padding-left: 23px;
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

.todo_list ul > li:nth-child(even) {
  background-color: #f7f7f7;
}
#todobox{
  display: block;
  width: 100%;
  color: #2980b9;
  font-size: 18px;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}
#todobox:focus{
  border: 3px solid #2980b9;
  outline: none;
  background: #fff;
}
.todo_list .fa-trash{
  background: #e74c3c;
  height: 40px;
  width: 30px;
  line-height: 40px;
  text-align: center;
  color: white;
  display:none;
}
