/*
	Box Model
	Content
	Padding
	Border
	Margin
*/
h1{
	font-family: Roboto;
	text-align: left;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 3px solid #f1f1f1;
	width: 300px;
	margin-left: 1.66%;
	padding-bottom: 20px;
}

img{
	float: left;
	width: 30%;
	margin: 1.66%;
}