<%include partials/header %>
<div id="fullpage">
    <div class="section">
        <div id="landing-header">
            <h1>Welcome to YelpCamp!</h1>
            <a href="/campgrounds" class="btn btn-primary btn-lg">View all campgrounds</a>
        </div>
    </div>
</div>
<%include partials/footer %>

